body {
    background: linear-gradient(to right, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 91%, rgba(209,209,209,1) 100%);
    min-height: 1000px;
    color: slategray;
}

header {
    display: inline-block;
    padding-left: 10%;
    padding-bottom: 40px;
    padding-top: 30px;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;  
}

header .links {
    padding-right: 40px;
    text-decoration: none;
    color: #6d0019;
    font-weight: bold;
}


.portfolio_screen h1 {
    font-size: 100px;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid #b68d4c;
    padding-bottom: 10px;
    margin: 0 30% 40px;
    text-decoration: blink;
    padding-top: 100px;
    background-image: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.portfolio_screen .buttons {
    text-align: center;
}

.button {
    margin-bottom: 100px;
    font-size: 20px;
    color: black;
    background: white;
    padding: 20px;
    width: 230px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid;
    border-radius: 3px;
    border-color: black;
}
.button:hover {
    font-size: 22px;
    color: white;
    background-color: #6d0019;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    width: 230px;
    margin-bottom: 100px;
}



.self-description_screen {
}

.portfolio-pages_screen {
}

.other-social-media_screen {
}