body {
    background: linear-gradient(to right, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 91%, rgba(209,209,209,1) 100%);
    color: slategray;
    max-width: 963px;
    margin: 0 auto;
}



.header_div {
    width: 963px;
    display: inline-block;
    margin: 30px auto;
    text-align: center;
    }
.links {
    text-decoration: none;
    color: #6d0019;
    font-weight: bold;
    font-size: 24px;
    }
.links.portfolio {
    margin-left: 90px;
    margin-right: 90px;
}

.portfolio_screen h1 {
    font-size: 100px;
    font-family: sans-serif;
    text-align: center;
    border-bottom: 2px solid #b68d4c;
    padding-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 90px;
    margin-left: 90px;
    margin-right: 90px;
    padding-top: 60px;
    text-decoration: blink;
    background-image: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.portfolio_screen .buttons {
    text-align: center;
}

.button {
    margin-bottom: 90px;
    font-size: 20px;
    color: black;
    background: white;
    padding: 20px;
    width: 230px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid;
    border-radius: 3px;
    border-color: black;
}
.button:hover {
    font-size: 22px;
    color: white;
    background-color: #6d0019;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    width: 230px;
    margin-bottom: 100px;
}



.self-description_screen {
    color: black;
}
.self-description_screen p {
    margin: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 18px;

}

